body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

a {
  color: #3498db; /* Lighter blue for links */
  text-decoration: none;
}

/* Styles for the info panel on top of each page */
div.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4a4a4a; /* Dark gray background */
  margin-bottom: 1em;
  width: 66%; /* Align width with coveredtable */
  margin: 0 auto; /* Center the container */
  border-radius: 8px;
}

div.info-panel {
  flex: 1;
  margin: 0 1em;
  padding: 1em;
  background-color: #4a4a4a; /* Dark gray background */
  border-radius: 8px;
  text-align: center;
  color: white; /* Ensure text is visible on dark background */
}


table#coveredtable {
  margin: 0 auto;
  min-width: 66%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  border: 1px solid #ccc; /* Added border to cells */
}

th {
  font-weight: bold;
  background-color: #4a4a4a;
  color: white;
  text-align: center;
  padding: 0.75em 1em;
  font-size: 110%;
}

td {
  background-color: #d9d9d9;
  min-width: 3.5em;
  padding: 0.75em 0.75em;
  text-align: right;
}

/* First column is left-aligned, and filenames are monospace */
td:first-child {
  text-align: left;
}

tbody td:not(:first-child) {
  font-family: monospace;
}

/* Coverage colored backgrounds */
.lowcov {
  background-color: #ff6b6b;
}

.mediumcov {
  background-color: #f7b731;
}

.highcov {
  background-color: #20bf6b;
}

/* File coverage data styles */
table#filetable {
  font-family: monospace;
  border-spacing: 0;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

table#filetable td, table#filetable th {
  background-color: inherit;
  color: black;
  padding: 0.75em;
  white-space: pre;
  vertical-align: top;
  border: 1px solid #ccc; /* Added border to cells */
}

table#filetable td:first-child {
  background-color: #f9e79f;
  text-align: right;
}

table#filetable td:not(:first-child):not(:last-child) {
  text-align: right;
  border-right: solid black 1px;
  min-width: 5em;
}

table#filetable th {
  font-size: 90%;
  text-align: center;
  background-color: #4a4a4a;
  color: white;
}

table#filetable tr > *:last-child {
  text-align: left;
}
